@import url('https://fonts.googleapis.com/css2?family=Ancizar+Sans:ital,wght@0,100..1000;1,100..1000&display=swap');

.container {
   width: 75vw;
   margin: auto;
}

header {
   margin: auto;
   margin-top: 10.3rem;
   display: flex;
   flex-direction: column;
   align-items: center;
   color: var(--white);
}

header h1 {
   font-size: 4rem;
}

header p {
   font-size: 2rem;
   margin-bottom: 2.4rem;
}

img {
   height: 10rem;
   border-radius: 1rem;
   margin-bottom: 3.2rem;
}

header h2 {
   background-color: var(--decoration);
   font-size: 3rem;
   text-align: center;
   padding: 5rem 0;
   width: 75vw;
   height: 13.3rem;
   border-radius: 2rem 2rem 0 0;
}

form {
   background-color: var(--white);
   height: 100%;
   border-radius: 0 0 2rem 2rem;
   margin-bottom: 7rem;
   padding: 3.1rem 6.4rem 6.4rem 6.4rem;
}

fieldset {
   border: none;
}

legend {
   width: 100%;
   font-size: 2.4rem;
   font-weight: 600;
   color: var(--title);
   padding-bottom: 0.8rem;
   border-bottom: 1px solid #E6E6F0;
   margin-bottom: 3.1rem;
   text-align: center; 
}

body, input, textarea, select, button {
   font-family: "Ancizar Sans", sans-serif;
}

form input, select, textarea {
   padding: 1rem;
   margin-top: 0.8rem;
   border-radius: 0.8rem;
   border: 1px solid #e6e6f0;
   background-color: #fafafc;
}

form span {
   color: #c1bccc;
   font-size: 1.4rem;
   line-height: 2rem;
}

form span:hover {
   color: #737078;
}

.full-name {
   display: flex;
   gap: 2.2rem;
}

.full-name div {
   display: flex;
   flex-direction: column;
}

.full-name input, select, .date input {
   font-size: 1.7rem;
   width: 30rem;
   height: 5.6rem;
}

.email-data {
   display: flex;
   flex-direction: column;
   margin-top: 1.6rem;
}

.email-data input {
   font-size: 1.7rem;
   width: 62.2rem;
   height: 5.6rem;
   margin-bottom: 3.1rem;
}

.mentor-name {
   display: flex;
   gap: 0.8rem;
   flex-direction: column;
   margin-bottom: 3.1rem;
}

.mentor-name select {
   appearance: none;
  -webkit-appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='7' viewBox='0 0 10 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1.64984L5 5.61617L9 1.64984' stroke='%239C98A6' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: right 10px top 50%;
}

.mentor-name select, .scheduling input {
   color: var(--text);
}

.mentor-feedback {
   display: flex;
   flex-direction: column;
   gap: 0.8rem;
   margin-bottom: 2.9rem;
}

.mentor-feedback textarea {
   font-size: 1.7rem;
   padding: 1rem;
   height: 16.7rem;
   resize: none;
}

.checkbox {
   position: relative;
}

.checkbox h3 {
   display: flex;
   align-items: center;
   gap: 0.8rem;
   margin-bottom: 3.6rem;
}

.checkbox input {
   position: absolute;
   top: -7px;
   left: 1px;
   width: 24px;
   height: 24px;
   opacity: 0;
}

.checkbox h3::before {
   content: '';
   width: 24px;
   height: 24px;
   display: block;
 
   border: 1px solid #E6E6F0;
   border-radius: 8px;
}

.checkbox input:focus + h3::before {
   outline: 2px solid #000000;
}
 
.checkbox input:checked + h3::before {
   background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_2604_23)'%3E%3Cpath d='M9 16.17L4.83 12L3.41 13.41L9 19L21 7L19.59 5.59L9 16.17Z' fill='%23ed1848'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_2604_23'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}

.scheduling {
   display: flex;
   justify-content: space-between;
   margin-bottom: 6.4rem;
}

.scheduling div:first-child {
   margin-right: 3.2rem;
}

.hour {
   display: flex;
}

.hour input {
   width: 14rem;
   height: 5.6rem;
}

.button {
   display: block;
   margin: auto;
   font-weight: bold;
   font-size: 2rem;
   width: 60vw;
   height: 51px;
   border-radius: 0.8rem;
   border: none;
   background-color: var(--decoration);
   color: var(--white);
}

.button:hover {
   filter: brightness(0.7);
}

@media screen and (max-width: 426px) {
   header h1 {
      font-size: 2.5rem;
   }

   header p {
      text-align: center;
      font-size: 1.8rem;
      width: 20rem;
   }

   header h2 {
      font-size: 2.5rem;
   }

   form {
      padding: 3rem 2rem 5rem;
   }

   legend {
      font-size: 2rem;
   }

   .full-name {
      flex-direction: column;
   }

   .full-name div {
      align-items: center;
   }

   .full-name input, select, .date input {
   width: 60vw;
   }

   .email-data {
      align-items: center;
   }

   .email-data input {
      width: 60vw;
   }

   .mentor-feedback textarea {
      height: 10rem;
   }

   .checkbox h3::before {
      width: 40px;
   }

   .scheduling {
      flex-direction: column;
      gap: 3rem;
   }

   .hour input {
      width: 9rem;
   }
}

@media (min-width: 427px) and (max-width: 988px) {
   .full-name input {
      width: 20rem;
   }

   .email-data input {
      width: 100%;
   }

   .scheduling {
      flex-direction: column;
      gap: 3rem;
   }
}