* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --white: #ffffff;
  --decoration: #ed1848;
  --background: #bfd7e4;
  --header: #293241;
  --title: #253B51;
  --text: #4E4958;
}

body {
  background-color: var(--background);
  font-size: 1.4rem;
  color: var(--text);
}

body::before {
  content: '';
  width: 100%;
  height: 46.5rem;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;

  background-color: var(--header);
}
